/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== Golbal ===============*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

.banner {
    width: 100%;
    height: 120vh;
    position: relative;
    overflow: hidden;

}

.slider {
    width: 100%;
    height: 120vh;
    position: absolute;
    top: 0;
}

#slideImg {
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    15% {
        transform: scale(1);
    }

    85% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

.overlay {
    width: 100%;
    height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
}

.navbar {
    width: 85%;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 35px auto;
    padding: 0px 10%;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo a {
    color: rgb(255, 255, 255);
    text-shadow: 3px 4px 4px rgba(255, 0, 0, 0.8);
    font-size: 25px;
}

.logo a:hover {
    color: red
}

nav li {
    color: white;
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    position: relative;
    transition: 0.5s;
    background: transparent;
}

a,
button {
    font-size: 16px;
    font-weight: 500;
    color: rgb(231, 135, 135);
    text-decoration: none;
    cursor: pointer;
}

button {
    background: black;
    border: 2px solid red;
    border-radius: 50px;
    padding: 10px 25px;
}

nav li a:hover {
    color: red;
}

.nav ul li .active::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #f37474;
    display: flex;
    position: relative;
    margin-left: 10px;
}

button a:hover {
    color: red;
}

.dropdown {
    display: none;
}

nav li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;

}

nav li:hover .dropdown ul {
    display: block;
    margin: 10px;
}

nav li:hover.dropdown ul li {
    width: 150px;
    padding: 10px;
}

.content {
    padding: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: 3px 4px 4px rgba(255, 0, 0, 0.8);
}

.openinghours {

    height: 18vh;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding: 25px;
    text-shadow: 3px 4px 4px rgba(255, 0, 0, 0.8);
}

/*=============== Home ===============*/

.header {
    padding: 100px;
    text-align: center;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

/*=============== Card Container ===============*/

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== CARD ===============*/
.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card__container {
    display: grid;
    row-gap: 3.5rem;
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 328px;
    border-radius: 1.5rem;
}

.card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card_-description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-style: 500;
    color: var(--first-color);
}

.card__button:hover {
    text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translate(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }

}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .card__data {
        width: 250px;
        padding: 1rem;
    }
}

/* For medium devices */

@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* For large devices */

@media screen and (min-width: 1120px) {
    .container {
        height: 100vh;
    }

    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__img {
        width: 348px;
    }

    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

/*=============== Explore ===============*/
.explore {
    width: 100%;
    height: 100%;
    background-image: url(/styles/img/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 50%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.explore-content h1 {
    font-size: 7vmin;
    margin: 50px;
}

.explore-content p {
    color: rgb(221, 221, 221);
}

.explore-content .box {
    text-align: center;
    line-height: 2;
    padding: 20px 20px;
}

/*=============== Gallery ===============*/

.line {
    width: 150px;
    height: 4px;
    background: #fc0303;
    margin: 10px auto;
    border-radius: 5px;
}

.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.image-gallery img {
    max-width: 250px;
    margin: 10px;
}

.content-col h1 {
    font-size: 7vmin;
    color: #484872;
}

.content-col .line {
    margin-left: -1px;
}

.content-col p {
    padding: 0;
    margin: 30px;
}

.content-col .ctn {
    margin-left: 50px;
}

@media only screen and (max-width:850px) {
    .tours .col {
        width: 100%;
    }

    .image-gallery {
        justify-content: center;
        align-items: center;
    }

    .image-gallery img {
        width: 90%;
    }

}

img {
    transition: transform .3s ease;
}

img:hover {
    transform: scale(1.1);
}

/*=============== Location ===============*/

.location {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.location-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    color: rgb(0, 0, 0);
    max-width: 600px;
}

.location-content h1 {
    font-size: 5em;
}

iframe {
    border-radius: 2em;
    border: none;
    width: 500px;
    height: 500px;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

iframe:hover {
    transform: scale(1.2);
    opacity: 1;
}

/*=============== Footer ===============*/

.foot {
    background-color: black;
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    background: transparent;
}

.row p {
    margin-left: 20px;
    font-size: 25px;
    padding: 10px;
    background: transparent;
}

.row pre {
    margin-left: 0;
    font-size: 15px;
    margin-top: 10px;
    background: transparent;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    background: transparent;
}

.col a {
    background: transparent;
}

.col p,
pre {
    color: #f37474;

}

.col ul li {
    list-style: none;
    margin-bottom: 20px;
    font-family: 'poppins', sans-serif;
    background: transparent;
    background: none;
}

.col ul li a {
    text-decoration: none;

}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    background: transparent;
}

form .far {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 16px;
    color: #ccc;
}

.social-updates {
    padding-left: 0px;
    margin-bottom: 10px;
    color: #f37474;
    background: transparent;
}

.social-icons {
    background: transparent;
}

.social-icons i:hover {
    color: #f37474;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;

}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
    background: transparent;
}
